file-history/*
projects/*
statsig
history.jsonl
todos/*
todos/*.json
ide
shell-snapshots
debug
paste-cache
image-cache/*
plans
projects
tasks
settings.json
stats-cache.json
cache
.DS_Store
plugins
backups
telemetry
policy-limits.json
mcp-needs-auth-cache.json
.credentials.json
/sessions
/.idea
/jobs
/daemon.log
/daemon-auth-status.json
/daemon-auth-cooldown
/daemon
/chrome
/.last-update-result.json
/.last-cleanup
/Bing Webmaster Tools Auth.xml
